@model IEnumerable<MusicDatabase.Models.ArtistViewModel>

@{
    ViewBag.Title = "Artist";
}
<h2>Artist</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Artist")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album.AlbumTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album.ReleaseDate)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArtistName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album.AlbumTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album.ReleaseDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ArtistID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ArtistID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ArtistID })
        </td>
    </tr>
}
    </table>





